/* customStyles.css */
.swal2-confirm {
    background-color: #e74c3c !important; /* Red for Delete */
    color: white !important;
  }
  
  .swal2-deny {
    background-color: #f39c12 !important; /* Orange for Trash */
    color: white !important;
  }
  
  .swal2-cancel {
    background-color: #95a5a6 !important; /* Grey for Cancel */
    color: white !important;
  }


  /* shimmer.css */
.shimmer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shimmer-card {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #eeeeee 0%, #dddddd 50%, #eeeeee 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  height: 200px; /* Adjust the height as needed */
  border-radius: 0.5rem;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

  